<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/layout :: corelayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Group detail</title>
</head>
<body>
<div th:fragment="pagecontent">
    <h1 th:text="${group.name}"></h1>

    <p th:if="${group.characters.empty}">
        No characters yet...<a href="">Add a new one?</a>
    </p>

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>Icon</td>
            <td>Character Name</td>
            <td>Favorite?</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${group.characters.empty}">
            <td colspan="4">No characters added yet</td>
        </tr>
        <tr th:unless="${group.characters.empty}" th:each="character, stat : ${group.characters}">
            <td th:text="${stat.count}">
                1
            </td>
            <td>
                <img th:src="${character.iconUrl}" src="http://i.annihil.us/u/prod/marvel/i/mg/9/30/538cd33e15ab7/standard_xlarge.jpg" th:alt-title="${character.name}">
            </td>
            <td>
                <a href="#" th:text="${character.name}">Character name ...</a>
            </td>
            <td>
                <input type="checkbox" th:checked="${character.isFavorite}" >
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>