<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/layout :: corelayout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Groups of characters</title>
</head>
<body>
<div th:fragment="pagecontent">
    <div class="container transparent-black flex-aligned-items horiz  padding-bottom">
        <label for="group-name" class="yellow-warning bold">Add new group</label>
        <div class="col-lg-6">
           <div class="input-group">
               <input name="group-name" id="group-name" type="text"
                      class="form-control" placeholder="Choose a name..."/>
                <span class="input-group-btn">
                <button type="submit" id="createGroup" class="btn btn-default">Add new group</button>
                    </span>
            </div>
            </div>
    </div>
    <span th:if="${groups.empty}">
        No groups yet...<a href="">Create a new one?</a>
    </span>
    <div class="panel panel-default">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Count</td>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${groups.empty}">
            <td colspan="4">No groups</td>
            </tr>
        <tr th:unless="${groups.empty}" th:each="group, stat : ${groups}">
            <td th:text="${stat.count}">1 ...</td>
            <td><a href="#" th:text="${group.name}">Group name ...</a></td>
            <td th:text="${#lists.size(group.characters) + ' character/s'}">3 character/s in list ...</td>
            <td>
            <form role="form">
                <button type="submit" th:id="${group.id}" class="btn btn-default removeGroup">Delete group</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
        </div>
</div>
</body>
</html>