<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="unknownuserform :: home">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="unknown-user-form">
    <div class="panel panel-default transparent">
        <div class="panel-body">
            <form method="post" th:action="@{/login}" th:object="${loginForm}">
                <!--/* Show general error task when form contains errors */-->
                <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
                    <div th:replace="fragments/alert :: alert (type='danger', message='Invalid username or password.')">
                        Alert
                    </div>
                </th:block>
                <fieldset class="flex-aligned-items form-horizontal">
                    <div class="form-group margin"><input id="username" type="text" class="form-control"
                                                          placeholder="Username"/></div>
                    <div class="form-group margin"><input id="pass" type="password" class="form-control"
                                                          placeholder="Password"/></div>
                    <button type="submit" class="btn btn-large btn-warning">Log in</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="panel panel-default transparent">
        <div class="panel-body">
            <div class="item-form-margin">
                <h6>Don't you have an account?
                    <a th:href="@{/signup}" class="font-small light-link">Sign up</a>
                </h6>
            </div>
        </div>
    </div>
</div>
</body>
</html>
