<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      th:include="fragments/layout :: layout">
<head>
    <title>Log into your account</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="content">
    <form class="form-narrow form-horizontal" action="#" th:action="@{/login}" method="post">
        <p><input type="text" class="form-control" placeholder="Username" value="username"/></p>
        <p><input type="password" value="password"/></p>
        <p><input type="submit" value="Login"/> <input type="reset" value="Reset"/></p>
    </form>
</div>
</body>
</html>
